<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Paypal_example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Fashion Hub" />
    
</head>

<body>
    <h1>Paypal_example</h1>
    <h2>Buy for $15</h2>
    <div>
        <form action="/pay" method="post">
            <input type="submit" value="Buy">
        </form>
    </div>
</body>

</html>